@model ScheduleUsers.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.UnreadMessage)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.UnreadMessage, new { id = "UnreadCheckBox" })
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $("#UnreadCheckBox").change(function () {
        var UnreadMessage = $(this).is(':checked');
        $.ajax({
            type: 'POST',
            url: "@Url.Action("UpdateUnreadMessage", "Message")",
            data: { check: UnreadMessage, id: '@Model.MessageID' },
            success: function (res) {
                console.log(res);
            },
        });
    });

</script>
